{% extends "VotenmasseVotenmasseBundle::layout.html.twig" %}

{% block title %}
 {{ parent() }} - A propos
{% endblock %}

{% block votenmasse_body %}
	<tr>
		<td>
			<div class="well">
				<b>A propos de votenmasse.besaba.com </b><br><br><br>

				<b><u>1- Présentation du Site :</u></b><br><br>

				Ce site est avant tout dédié aux sondages, aux échanges d'opinions et aux discussions(forums).<br>
				Le site a également sa communauté de membres : les internautes possédant un compte utilisateur sur le site.<br>
				Aucun service n'est payant sur ce site.<br><br>

				» Les sondages diffusés sur votenmasse.besaba.com : L'objectif est d'obtenir un maximum de votes pour chacun des sondages créé par les internautes dans la limite de l'intérêt suscité par ce sondage auprès des votants.<br>
				A cette fin, chaque sondage est mis en avant grâce à un texte explicatif dans le but de susciter l’intérêt des internautes. <br><br>

				» Contrôle du contenu : Le contenu des sondages et des commentaires associés est contrôlé.<br>
				Un contrôle est effectué par les modérateurs et administrateurs sur la majorité des messages et sondages.<br>
				Ainsi, tout message ou sondage jugé choquant sera supprimé.<br>
				Les critères rendant un message censurable sont :<br>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;» Propos obscènes<br>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;» Propos dégradants, humiliants<br>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;» Propos racistes, intolérants vis-à-vis d'une croyance, religion ou culture<br><br><br>


				<b><u>2- Conditions d'utilisation du site :</u></b><br><br>

				» En postant un message ou en définissant un sondage vous vous engagez à ne pas tenir des propos injurieux, intolérants, répréhensibles par la loi ou contraire à la morale publique.<br>
				Nous ne saurions être tenus responsables du contenu de ceux-ci et nous nous réservons le droit de les retirer sans préavis.<br><br>
				» Notez que le site est "ouvert à tous", sans condition sur l'age.<br>
				Les sujets jugés indécents pour des enfants seront supprimés.<br><br>
				» En définissant un sondage vous acceptez que les résultats et leurs analyses soient la propriété de votenmasse.besaba.com.<br>
				Les résultats des sondages et les commentaires associés ne reflètent que l'opinion des utilisateurs de ce site et en aucune façon celui de votenmasse.<br><br><br>


				<b><u>3- Utilisation des Résultats :</u></b><br><br>

				L'utilisation des résultats des sondages diffusés sur votenmasse.besaba.com est autorisée, sous réserve du respect des trois conditions suivantes : <br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;» gratuité de la diffusion, <br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;» respect de l'intégrité des résultats : pas de modification ni altération d'aucune sorte,<br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;» citation claire et lisible de la source sous la forme suivante - par exemple - : "Ce sondage provient du site Internet Votenmasse : http://votenmasse.besaba.com/. Les droits de reproduction sont réservés". <br><br>
				L'adresse Internet du site de votenmasse doit impérativement figurer dans la référence. <br><br><br>


				<b><u>4- Service gratuit : Module de sondage et statistiques</u></b><br><br>

				Ce service est gratuit, il permet d'obtenir des statistiques précises sur les visiteurs de votre site.<br>
				Les sites faisant appel à ce service doivent présenter un contenu en accord avec les conditions imposées aux messages et votes à savoir :<br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;» Aucun contenu injurieux ou incitant à la violence.<br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;» Aucun contenu intolérant ou incitant à la discrimination, quelle que soit sa nature.<br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;» Aucun contenu contraire à la morale publique ou répréhensible par la loi du pays d'hébergement.<br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;» Ne violant pas la propriété intellectuelle et ne la facilite pas.
				N'apporte aucune aide ou information quant aux activités de piratage.
			</div>
		</td>
	</tr>
{% endblock %}