{% extends "VotenmasseVotenmasseBundle::layout.html.twig" %}

{% block title %}
 {{ parent() }} - Forum 
{% endblock %}

{% block votenmasse_body %}

<table class="table">
		<tr>
			<td>
				<div class="well">
					<h2 id = "titre_formulaire" align = "center"><b>Bienvenue sur le Forum</b></h2>
					<center>
					<form method="post" class="Inscription" {{ form_enctype(form) }}>
						{{ form_widget(form) }}
						<input type="submit" class="btn btn-primary" id="form_validatation" />
						</form>
					{#
						{% for item in tableau %}
 						{item.login}}- {{item.message}}
						{% endfor %}
					
					#}
						
						
								
						
				</div>
			</td>
		</tr>
		
	</table>

{% endblock %}